<div class="row justify-content-center">
  <div class="col-md-6">
    <%= simple_form_for @earning  do |f| %>
      <%= f.association :account , label: "Cuenta", collection: current_user.accounts %>
      <%= f.input :balance, label: "¿Cuanto?" %>
      <%= f.input :currency, label: "Moneda", as: :radio_buttons, collection:["COP"] %>
      <%= f.input :category, label: "Categoría" %>
      <%= f.input :date, label: "Fecha", as: :date, order: [:day, :month, :year]%>
      <%= f.input :beneficiary, label: "Beneficiario" %>
      <%= f.input :note, label: "Observación" %>
      <%= f.button :submit, class:"btn btn-secundary" %>
    <% end %>
  </div>
</div>
