<h1>Entradas de Dinero</h1>

<%= link_to 'New ingreso', new_banking_earning_path %>

  <% @earnings.each do |earning| %>
    <div class="card">
      <div class="card-body">
        <%= earning.balance%>
        <%= earning.currency%>
        <%= earning.date%>
        <%= link_to "Ver detalles", banking_earning_path %>
      </div>
    </div>
  <% end %>
