<div id="content" class="bg-grey w-100 h-100">
      <section class="bg-mix py-3">
        <div class="container">
          <div class="card w-100 rounded-4 shadow-lg min-vh-75">
            <div class="card-body">
              <div class="row p-2">
                <%# Crear cuentas nuevas %>
                <% @business.accounts.each do |account| %>
                  <div class="col-12 col-md-3 col-lg-3 d-flex justify-content-around rounded-pill mt-2">
                    <div class="card w-100 rounded-4 shadow-lg min-vh-75">
                      <div class="card-body">
                        <h4 class="card-title fw-bold text-dark">
                          <%= link_to account_path(account) do %>
                        </h4>
                        <h6 class="text-muted">
                          <%= account.name.split("-")[0]%>
                        </h6>
                          <% end %>
                        <h3 class="font-weight-bold">
                          $ <%= account.balance %>
                        </h3>
                      </div>
                    </div>
                  </div>
                <% end %>

                <%# Agregar nueva cuentas %>
              <div class="col-12 col-md-3 col-lg-3 d-flex justify-content-around rounded-pill mt-2">
                <div class="card w-100 rounded-4 shadow-lg min-vh-75">
                  <div class="card-body">
                    <h5 class="card-title fw-bold">
                      Agregar nueva cuenta
                    </h5>
                    <span>
                      <i class="">
                        <%= render "shared/newaccount" %>
                      </i>
                    </span>
                  </div>
                </div>
              </div>
              </div>
              <div>
              <%# Totales %>
                <% total = 0 %>
                <% @business.accounts.each do |account| %>
                  <% total += account.balance %>
                <% end %>
            </div>
            <div class="card w-100 rounded-4 shadow-lg min-vh-75 bg-dark bg-gradient">
              <div class="card-body">
                  <h4 class="card-title text-center p-0 m-0 text-light">
                    Saldo total en mis cuentas: $ <%= total %>
                  </h4>
              </div>
            </div>
          </div>
          <div class="card rounded-4 shadow-lg min-vh-75 text-dark">
              <div class="card-body">

      </section>

      <section class="bg-mix py-3">
        <div class="container">
          <div class="row">
            <div class="col-8">
              <div class="col-lg-12 my-3">
                <div class="card rounded-4 shadow-lg ">
                  <div class="card-header text-center">
                    <h5 class="font-weight-bold mb-0">
                      Ingresos
                    </h5>
                  </div>

                  <div class="card-body">
                      <%= link_to "Ver más ingresos", earnings_path, class:"btn btn-secundary mb-3 shadow" %>
                    <table class="tabla text-start">
                      <thead>
                        <tr>
                          <th class="border-start p-2">Nombre de la cuenta</th>
                          <th class="border-start p-2">Fecha</th>
                          <th class="border-start p-2">Descripción</th>
                          <th class="border-start p-2">Categoría</th>
                          <th class="border-start p-2">Monto</th>
                        </tr>
                      </thead>
                        <% @business.accounts.each do |account| %>
                        <% account.earnings.last(2).each do |earning| %>
                      <tbody>
                        <tr>
                          <td class="border-start p-2"><%= account.name.split("-")[0] %></td>
                          <td class="border-start p-2"><%= earning.date %></td>
                          <td class="border-start p-2"><%= earning.note %></td>
                          <td class="border-start p-2"><%= earning.category %></td>
                          <td class="border-start p-2 text-success">$<%= earning.balance %></td>
                        </tr>
                      </tbody>
                        <% end %>
                        <% end %>
                    </table>
                  </div>
                </div>
            </div>
          <%# Tabla de egresos %>
            <div class="col-lg-12 my-3">
                <div class="card rounded-4 shadow-lg ">
                  <div class="card-header text-center">
                    <h5 class="font-weight-bold mb-0">
                      Egresos
                    </h5>
                  </div>

                  <div class="card-body">
                      <%= link_to "Ver más egresos", egresses_path, class:"btn btn-secundary mb-2" %>
                    <table class="tabla text-start">
                      <thead>
                        <tr>
                          <th class="border-start p-2">Nombre de la cuenta</th>
                          <th class="border-start p-2">Fecha</th>
                          <th class="border-start p-2">Descripción</th>
                          <th class="border-start p-2">Categoría</th>
                          <th class="border-start p-2">Monto</th>
                        </tr>
                      </thead>
                        <% @business.accounts.each do |account| %>
                          <% account.egresses.last(2).each do |egress| %>
                      <tbody>
                        <tr>
                          <td class="border-start p-2"><%= account.name.split("-")[0] %></td>
                          <td class="border-start p-2"><%= egress.date %></td>
                          <td class="border-start p-2"><%= egress.note %></td>
                          <td class="border-start p-2"><%= egress.category %></td>
                          <td class="border-start p-2 text-danger">$<%= egress.balance %></td>
                        </tr>
                      </tbody>
                        <% end %>
                        <% end %>
                    </table>
                  </div>
                </div>
            </div>
          </div>

            <div class="col-lg-4 my-3">
              <div class="card rounded-4 shadow-lg ">
                  <div class="card-header text-center ">
                  <h6 class="font-weight-bold mb-0">Lo último</h6>
                </div>
                  <% @business.accounts.each do |account| %>
                    <% account.earnings.last(1).each do |earning| %>
                <div class="card-body pt-2">
                  <div class="d-flex border-bottom py-2">
                    <div class="d-flex mr-3">
                      <h2 class="align-self-center mb-0">
                        <i class="icon ion-md-pricetag"></i>
                      </h2>
                    </div>
                      <span class="badge text-bg-success badge-span ms-3">Ingreso</span>
                    <div class="align-self-center">
                      <h6 class="d-inline-block mb-0 ms-3"><%= earning.balance %></h6>
                      <small class="d-block text-muted ms-3"><%= account.name.split("-")[0] %></small>
                    </div>
                  </div>
                </div>
                    <% end %>
                  <% end %>
                  <% @business.accounts.each do |account| %>
                    <% account.egresses.last(1).each do |earning| %>
                <div class="card-body pt-2">
                  <div class="d-flex border-bottom py-2">
                    <div class="d-flex mr-3">
                      <h2 class="align-self-center mb-0">
                        <i class="icon ion-md-pricetag"></i>
                      </h2>
                    </div>
                      <span class="badge text-bg-danger badge-span ms-3">Egreso</span>
                    <div class="align-self-center">
                      <h6 class="d-inline-block mb-0 ms-3"><%= earning.balance %></h6>
                      <small class="d-block text-muted ms-3"><%= account.name.split("-")[0] %></small>
                    </div>
                  </div>
                </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</div>
