<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CSS User Profile Card</title>
	<link rel="stylesheet" href="styles.css">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>
  <div class="wrapper">
      <div class="left">
          <%= cl_image_tag(current_user.avatar.key) %>
            <h3><%= current_user.first_name %> <%= current_user.last_name %></h3>
      </div>
      <div class="right">
          <div class="info">
              <h3>Information</h3>
              <div class="info_data">
                  <div class="data">
                      <h4>Email</h4>
                      <%= current_user.email %>
                  </div>
              </div>
          </div>

        <div class="projects">
              <h3>Trayectoria</h3>
              <div class="projects_data">
                  <div class="data">
                      <h4>Recent</h4>
                      <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                  <div class="data">
                    <h4>Most Viewed</h4>
                      <p>dolor sit amet.</p>
                </div>
              </div>
          </div>

          <div class="informacion_user">
              <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                <%= f.input :email, required: true, autofocus: true %>

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                <% end %>
                <%= f.input :avatar, as: :file %>
                <%= f.input :first_name%>
                <%= f.input :last_name%>
                <%= f.input :password,
                            hint: "leave it blank if you don't want to change it",
                            required: false,
                            input_html: { autocomplete: "new-password" } %>
                <%= f.input :password_confirmation,
                            required: false,
                            input_html: { autocomplete: "new-password" } %>
                <%= f.input :current_password,
                            hint: "we need your current password to confirm your changes",
                            required: true,
                            input_html: { autocomplete: "current-password" } %>
              </div>

              <div class="form-actions">
                <%= f.button :submit, "Actualizar" %>
              </div>
            <% end %>
            <h3>Cancelar mi cuenta</h3>

            <p>🤨Eres infeliz con FIGO? <%= link_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

            <%= link_to "Volver", :back %>

          </div>
      </div>
  </div>
</body>
</html>
