<div class="fondeishion">
  <div class="row justify-content-center">
    <div class="col-md-6 p-0">
      <%= simple_form_for @debt do |f| %>
      <%= f.input :business_id, label: "¿Para que empresa?", collection: current_user.businesses %>
      <%= f.input :name, label: "Nombre" %>
      <%= f.input :date, label: "Fecha", as: :date, order: [:day, :month, :year]%>
      <%= f.input :balance, label: "Monto" %>
      <%= f.input :note, label: "Observación" %>
      <%= f.button :submit, class:"btn btn-secundary" %>
    <% end %>
    </div>
  </div>
</div>
