<div class="row m-1">
  <div class="d-flex ml-1">
    <div class="btn-group" role="group" aria-label="Basic example">
      <%= link_to "Regresar", debts_path, class:"btn btn-info"%>
      <%= link_to "Editar", edit_debt_path,class:"btn btn-info" %>
    </div>
      <%= button_to "Eliminar", debt_path, method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-danger" %>
    </div>

  <div class="card w-100 rounded-4 shadow-lg min-vh-75 m-1">
    <div class="card-body">
      <div class="card-body">
        <h4 class="card-title fw-bold text-dark">Empresa</h4>
          <h6><%= @debt.business.name %></h6>
        <div class="">
          <h5 class="card-title fw-bold text-dark me-4">Nombre</h5>
            <h6><%= @debt.name %></h6>
          <h5 class="card-title fw-bold text-dark me-4">Fecha</h5>
            <h6><%= @debt.date %></h6>
          <h5 class="card-title fw-bold text-dark me-4">Monto</h5>
            <h6><%= @debt.balance %></h6>
        </div>
      </div>
    </div>
  </div>
</div>
