<% if current_user %>
<section class="p-1 m-0 d-flex w-100 bg-dark bg-gradient shadow-lg d-flex justify-content-end">
        <div class="container-fluid">
          <div class="row logo d-flex">
            <div class="col-lg-9 col-md-6">
              <% if current_user %>
              <h1 class="font-weight-bold mb-0 text-light pt-3">
                Bienvenido, <%= current_user.first_name %> <%= current_user.last_name %>
              </h1>
                <% end %>
              <p class="lead text-light">
                <% if params["controller"] == "businesses" && params["action"] == "show" %>
                  <%= link_to edit_business_path, class:"text-white" do %>
                    Este es el estado de cuenta de <%= @business.name %> <i class="fa-solid fa-pen-to-square"></i>
                  <% end %>
                  <% else %>
                    Estas son las empresas que tienes registradas.
                  <% end %>
              </p>
            </div>
            <section class="p-1 w-25 mw-100 bg-dark bg-gradient d-flex justify-content-center">
              <div class="user_img p-2 m-1 d-flex justify-content-center">
                <%= cl_image_tag(current_user.avatar.key, width: 1500, height: 1500, :gravity=>"face", :crop=>"crop", class:"avatar-profile-welcome rounded-circle", cloud_name: "deqsohml0")%>
                <%# <p class="d-block text-light p-0 m-0">Perfil de Usuario</p> %>
              </div>
                <div class="pt-2">
                  <p class="d-block p-0"><%= link_to "Ver mi perfil", edit_user_registration_path, class:"btn btn-secundary mb-2"%></p>
                </div>
            </section>
          </div>
        </div>
</section>
<% end %>
