<div class="row justify-content-center">
  <div class="col-md-6">
    <%= simple_form_for [@business, @banking] do |f| %>
      <%= f.simple_fields_for :accounts do |o| %>
        <%= o.input :balance %>
        <%= o.input :currency, as: :radio_buttons, collection:["COP"] %>
        <%= o.input :category %>
        <%= o.input :beneficiary %>
        <%= o.input :note %>
        <%= o.select :sender_account, @business.accounts.map { |account| account.name + " " + account.id.to_s }%>
        <%= o.select :receptor_account, @business.accounts.map { |account| account.name + " " + account.id.to_s }%>
        <% end %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
