<!DOCTYPE html>
<html>
  <head>
    <title>FIGO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/e8679bbb52.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  </head>

  <body>
    <%= render "shared/flashes" %>
    <%= render "shared/dashboard" %>
  </body>
</html>
