<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FIGO</title>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  </head>
  <body>
    <main>
      <div class="big-wrapper light">
      <%= image_tag "shape.png" , class: "shape" %>

        <header>
          <div class="container">
            <div class="logo-home">
              <%= image_tag("logo.png") %>
              <h3></h3>
            </div>

            <div class="links">
              <ul>
                <!--<li><a href="#">Caracteristicas</a></li>
                <li><a href="#">Noticias</a></li>
                <li><a href="#">Testimonios</a></li>-->
                <% if user_signed_in? %>
                  <li><%= button_to "Cerrar Sesi贸n", destroy_user_session_path, method: :delete, form: {  data: { turbo: :false } }, class:"btn" %></li>
                  <li><%= link_to "Ir al Dashboard", businesses_path, class:"btn" %></li>
                <% else %>
                  <li><%= link_to "Iniciar sesi贸n", new_user_session_path, class:"btn" %></li>
                  <li><%= link_to "Registrarse", new_user_registration_path, class:"btn"%><li>
                <% end %>
              </ul>
            </div>

            <div class="overlay"></div>

            <div class="hamburger-menu">
              <div class="bar"></div>
            </div>
          </div>
        </header>

        <div class="showcase-area">
          <div class="container">
            <div class="left">
              <div class="big-title">
                <h1>Administrar tus finanzas</h1>
                <h1>nunca fu茅 tan f谩cil.</h1>
              </div>
              <p class="text">
                Ahorra tiempo administrando de manera eficiente como
                se comportan tus finanzas desde la comodidad de tu computador o celular.
              </p>
              <div class="cta">
                <%= link_to "Empieza con nosotros", new_user_registration_path, class:"btn"  %>
              </div>
            </div>

            <div class="right">
              <%= image_tag "person.png" , class: "person" %>
            </div>
          </div>
        </div>

        <div class="about">
          <div class="container">

            <div class="left_text">
              <%= image_tag "about.png" , class: "about_img" %>
            </div>

            <div class="right_text">
              <div class="big-title">
                <h1>驴Qu茅 es FIGO?</h1>
              </div>
              <p class="text">
                Figo es una aplicaci贸n web que te permite administrar tus finanzas de manera sencilla y eficentiente
              </p>
            </div>
          </div>
        </div>

        <div class="services">
          <div class="container">
            <div class="big-title-center">
              <h1>Caracteristicas</h1>
            </div>

            <div class="services-wrapper">
              <div class="service">
                <div class="text">
                  <h3>Control de gastos</h3>
                  <p>
                    Con FIGO puedes registrar tus gastos y asi no perder de vista como te encuentras financieramente.
                  </p>
                </div>
              </div>

              <div class="service">
                <div class="text">
                  <h3>Control de ingresos</h3>
                  <p>
                    Con FIGO puedes registrar tus ingresos de manera sencilla para mantenerte al tanto de lo que tienes.
                  </p>
                </div>
              </div>

              <div class="service">
                <div class="text">
                  <h3>Ahorros, metas y deudas</h3>
                  <p>
                    Con FIGO puedes crear notificaciones de ahorro, metas de compra y uin registro completo de lo que debes o te deben.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

    <!--newsletter-->
    <section class="newsletter" id="newsletter">
        <h2>Suscribase a nuestro blog</h2>
        <p>Reciba las ultimas noticias y ofertas</p>
        <div class="box">
            <input type="text" placeholder="Ingrese su correo">
            <a href="#" class="btn-subs">Suscribirse</a>
        </div>

    </section>


        <section class="reviews" id="reviews">
        <div class="big-title-center">
            <h1>驴Que piensan nuestros clientes?</h1>
        </div>
        <div class="reviews-container">
            <div class="box">
                <div class="rev-img">
                </div>
                <h2>Fernando Sim贸n</h2>
                <div class="stars">
                    <i class="bx bxs-star" ></i>
                    <i class="bx bxs-star" ></i>
                    <i class="bx bxs-star" ></i>
                    <i class="bx bxs-star" ></i>
                    <i class="bx bxs-star-half" ></i>
                </div>
                <p>FIGO nos ayud贸 a ordenar toda la actividad financiera de mi tienda, ahora puedo estar seguro de que todo marcha bien.</p>
            </div>

            <div class="box">
                <div class="rev-img">
                </div>
                <h2>Fanny Vidal</h2>
                <div class="stars">
                    <i class="bx bxs-star" ></i>
                    <i class="bx bxs-star" ></i>
                    <i class="bx bxs-star" ></i>
                    <i class="bx bxs-star" ></i>
                    <i class="bx bxs-star-half" ></i>
                </div>
                <p>FIGO me ayuda a tener la informaci贸n que necesito a la mano sobre como me gasto mi dinero.</p>
            </div>

            <div class="box">
                <div class="rev-img">
                </div>
                <h2>Mary Peace Arango</h2>
                <div class="stars">
                    <i class="bx bxs-star" ></i>
                    <i class="bx bxs-star" ></i>
                    <i class="bx bxs-star" ></i>
                    <i class="bx bxs-star" ></i>
                    <i class="bx bxs-star-half" ></i>
                </div>
                <p>Es invaluable que existan aplicaciones como FIGO que nos ayuden con el manejo de los ingresos y de los gastos, desde que trabajo con FIGO estoy tranquilo.</p>
            </div>
        </div>
    </section>

    <!--footer-->
    <footer class="footer">
        <div class="footer-container">
            <div class="box">
                <h3>FIGO</h3>
                <p>Una division de FIGO Services S.A.S.</p>
                <div class="social">
                    <a href="#"><i class="bx bxl-facebook"></i></a>
                    <a href="#"><i class="bx bxl-instagram"></i></a>
                    <a href="#"><i class="bx bxl-twitter"></i></a>
                </div>
            </div>

            <div class="box">
                <h2>Enlaces</h2>
                <ul>
                    <li><a href="#home">Caracteristicas</a></li>
                    <li><a href="#ride">Newsletter</a></li>
                    <li><a href="#services">Testimonios</a></li>
                </ul>
            </div>

            <div class="box">
                <h2>Informacion</h2>
                <ul>
                    <li><a href="#">Terminos y condiciones</a></li>
                    <li><a href="#">Politicas de privacidad</a></li>
                    <li><a href="#">Politicas de cookies</a></li>
                </ul>
            </div>

            <div class="box">
                <h2>Contacto</h2>
                <ul>
                    <li><a href="#">+57 3197381776</a></li>
                    <li><a href="#">+57 319 5523940</a></li>
                    <li><a href="#">+57 3193891480</a></li>
                    <li><a href="#">+1 2066968173</a></li>
                </ul>
            </div>
        </div>

        <div class="copyright">
            <p>&#169; Dise帽ado con el わ - Desarrollado con  FIGO</p>
        </div>

        <%# <div class="bottom-area">
          <div class="container">
            <button class="toggle-btn">
              <i class="far fa-moon"></i>
              <i class="far fa-sun"></i>
            </button>
          </div>
        </div>
      </div>
    </main> %>

    <!-- JavaScript Files -->

    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <script src=".javascript/appplication.js"></script>
  </body>
</html>
