<div class="d-flex" id="content-wrapper">
<div class="container">

  <h1>Tu cuenta</h1>
  <div class="card">
        <div class="card-body">
          <h5><%= @account.name %></h5>
          <p><%= @account.balance %></p>
          <p><%= @account.currency %></p>
        </div>
      </div>
  <%= link_to "Regresar", businesses_path, class:" btn " %>
  <%= link_to "Editar", edit_account_path, class:" btn " %>
  <%= button_to "Eliminar", account_path, method: :delete, data: { confirm: "¿Estas seguro?" }, class:" btn " %>

  </div>
</div>
